* {
    margin: 0;
    padding: 0;
    font-family: MuseoSans-500, Arial, sans-serif;
  }
body{
    background-color: #161616;
}
h1{
    text-align: center;
    color:white;
    text-shadow: 3px 3px 2px #000000;
    font-size: 4vw;
    margin-top:5vh;
}
form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
label{
    color:white;
    text-shadow: 3px 3px 2px #000000;
    font-size: 2.5vw;
    margin-top: 3vh;
}
input{
    width: 10vw;
    height: 3vh;
    font-size: 1.8vw;
}
#submit{
    margin-top: 3vh ;
    font-size: 1.5vw;
    height: 4vh;
}