* {
  margin: 0;
  padding: 0;
  font-family: MuseoSans-500, Arial, sans-serif;
}
html body{
  scroll-behavior: smooth;
  margin: 0;
  height: 100%
}


/* Welcome */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-shadow: 3px 3px 2px #000000;
}
#welcome-section h1 {
  font-size: 2.7vw;
  color: white;
  font-weight: 500;
}
#welcome-section p {
  font-size: 1.8vw;
  color: white;
}
#welcome-section a {
  margin-top: 5vh;
  font-size: 2vw;
  text-decoration: none;
  color: #bd2745;
  padding: 0.8vh 0.6vw;
}
#build {
  font-size: 2vw;
}


.tp2{
  display:inline-block;
}
.tp{
  animation:tp 3s steps(40, end), blink 0.75s step-end infinite; 
  border-right: .1em solid crimson;
  width: max-content;
  white-space: nowrap;
  margin-top: 5vh;
  text-align: center;
  overflow: hidden;
  padding-right: 0.1em;
}

@keyframes tp{ 
  from { width: 0 }
  to { width: 100% }
} 
@keyframes blink{
  0% {border-color: transparent;}
  50% {border-color: crimson;}
  100% {border-color:transparent;}
}

/* Contact */
#contact {
  padding-top: 5vh;
  text-align: CENTER;
  padding-bottom: 15vh;
  
  color: white;
  text-shadow: 3px 3px 2px #000000;
}
#contact h2 {
  font-size: 2vw;
  margin-bottom: 2vh;
}
#contact a {
  font-size: 2.4vw;
  margin-right: 1vw;
  text-decoration: none;
  color: crimson;
}


/* ---- particles.js container ---- */
canvas {
  display: block;
  vertical-align: bottom;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-size: cover; 
  background-position: 50% 50%;
  z-index: -10;
}
