#title {
  font-size: 3vw;
  font-family: "Spectral SC", serif;
  text-shadow: 3px 3px 2px black;
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
body {
  background-color: rgba(0, 0, 0, 0.99);
}
#main {
  color: white;
  text-align: center;
}
p {
  font-size: 1.4vw;
  margin-left: 12%;
  margin-right: 12%;
}
a {
  text-decoration: none;
  color: DarkRed;
}
.golden{
    animation: golden 5s infinite;  
}
@keyframes golden{
    0%{
        color:yellow;
    }
    20%{
        color:gold;
    }
    50%{
        color:goldenrod;
    }
    70%{
        color:gold;
    }
    100%{
        color:yellow;
    }
}
